.breadcrumb-section {
  
  background-color: #303233;
  color: #999999;
  
  .breadcrumb {
    margin-left: -15px;
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    
    a {
      color: #999999;
      &:hover, &:focus {
        color: white;
      }
    }
    
    .brand-name {
      margin-left: -10px;
    }
  }
}

.guide-section {

  background-color: whitesmoke;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.9em;

  .vegan {
    color: green;
  }
  
  .warning {
    color: red;
  }
  
  .is-small {
    font-size: 1.2em;
  }
  
  .caption {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .cosmetics {
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
    
    .cosmetics-image {
      margin-top: -14px;
    }

    .logo-caption {
      padding-left: 5px;
    }
    
    .comment {
      margin-left: -15px;
    }
    
    .search-key {
      font-size: 1.1em;
      color: green;
    }
    
    ul {
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .more-info {
      padding-top: 5px;
    }
    
    .more-details {
      padding-left: 15px;
    }
  }
  
  .general {
    padding-top: 15px;
  }
}

@media screen and (max-width: 991px) {

  .breadcrumb-section {
    margin-top: -60px;
  }
}