<div class="navbar navbar-default navbar-inverse navbar-specific" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand action" href ng-click="reload()"><img src="images/logo.png" width="57" height="50"/>
        <span ng-init="brand=true" ng-show="brand" class="brand-name">rocław <span class="green">vege</span> map</span>
      </a>
      <div class="search-desktop search" ng-include="'views/search.html'">
      </div>
      <div class="search-mobile search">
        <div ng-hide="brand" ng-include="'views/search.html'">
        </div>
        <button class="search-button" ng-click="brand=false" ng-show="brand" focus-on="input.search-query">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" close-nav-menu>
      <ul class="nav navbar-nav navbar-right">
        <li class="action-mobile">
          <a class="action" href ng-click="scrollTo('mapAnchor')">
            <span class="glyphicon glyphicon-globe"></span><span class="action-map">{{i18n.map}}</span>
          </a>
        </li>
        <li class="action-mobile">
          <a class="action" href ng-click="scrollTo('filtersAnchor')">
            <span class="glyphicon glyphicon-filter"></span><span class="action-filters">{{i18n.mapFilters}}</span>
          </a>
        </li>
        <li>
          <a class="action" href ng-click="scrollTo('addressesAnchor')">
            <span class="glyphicon glyphicon-folder-open"></span><span class="action-addresses">{{i18n.addresses}}</span>
          </a>
        </li>
        <li>
          <a class="action" href ng-click="scrollTo('newsAnchor')">
            <span class="glyphicon glyphicon-info-sign"></span><span class="action-news">{{i18n.news}}</span>
          </a>
        </li>
        <li>
          <a class="action" href="#/guide">
            <span class="glyphicon glyphicon-book"></span><span class="action-guide">{{i18n.guide}}</span>
          </a>
        </li>             
        <li>
          <a class="action" href data-toggle="collapse" data-target="#contactUs">
            <span class="glyphicon glyphicon-bullhorn"></span><span class="action-contactUs">{{i18n.newPlace}}</span>
          </a>
        </li>
        <li class="dropdown">
          <a href class="action dropdown-toggle" data-toggle="dropdown">| {{lang}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="action" href ng-click="changeLang('en')">en</a></li>
            <li><a class="action" href ng-click="changeLang('pl')">pl</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
    <div id="contactUs" class="row well well-lg contactUs collapse">
      <div class="left col-md-9">
        {{i18n.newPlaceText}}:
        <a href="mailto:vegewro@gmail.com">vegewro@gmail.com</a>
      </div>
      <div class="right col-md-3">
        <button class="btn btn-success pull-right" data-toggle="collapse" data-target="#contactUs">{{i18n.close}}</button>
      </div>
    </div>
  </div><!-- /.container -->
</div><!-- /.navbar -->

<div class="container">   
  <div class="row">
    <a class="anchor" id="mapAnchor"></a>
    <div id="map" class="col-md-9" map-resize>
      <progressbar class="progress-striped active" value="'80'" type="success">
        {{i18n.loadingMap}}
      </progressbar>
    </div>
    <a class="anchor" id="filtersAnchor"></a>
    <div class="col-md-3 filters">
      <a class="action action-mobile" href ng-click="scrollTo('mapAnchor')">
        <span class="glyphicon glyphicon-chevron-up"></span> {{i18n.map}}
      </a>
      <p class="filters-caption">
        <span class="caption anchor" id="filters">{{i18n.filters}} (</span><!--
     --><a href ng-click="enableAllFilters(false)" class="action filter-helper action-link">{{i18n.clearAll}}</a><!--
     --><span class="caption">):</span>
      </p>
      <div ng-repeat="type in ['vegan', 'vege', 'products', 'services']">
        <p class="sub-filter">
          <a href ng-click="enableFilters(type)" class="action action-link filter-helper">{{i18n[type]}}
          </a>
          <span ng-if="type === 'products'" class="action-link" tooltip-placement="bottom" tooltip="{{i18n.storesWarning}}">*</span>
        </p>
        <p ng-repeat="filter in filters.$asArray | filter:{type: type} | orderBy:'order'">
          <a href class="legend-item action action-link" ng-class="{active: filter.enabled}" 
              ng-click="filter.enabled = !filter.enabled; filter.toggle(true)">
            <img ng-src="{{filter.iconUrl}}"/>
            <span class="glyphicon glyphicon-ok" ng-show="filter.enabled"></span> {{filter.title}}
          </a>
        </p>  
      </div>          
    </div>
  </div>
  <div class="row addresses-section">
    <a class="anchor" id="addressesAnchor"></a>
    <h4 class="section-title caption anchor" id="addresses">{{i18n.bAddresses}}</h4>
    <accordion close-others="'true'">
      <div ng-repeat="type in ['vegan', 'vege', 'products', 'services']">
        <h5 class="sub-address-title caption">{{i18n[type]}}:</h5>
        <accordion-group ng-repeat="filter in filters.$asArray | filter:{type: type} | orderBy:'order'" is-open="filter.open">
          <accordion-heading>
            <div>
              <span ng-bind-html="filter.htmlTitle"></span> <span class="badge"> {{addresses[filter.id].length}}</span>
              <span class="pull-right glyphicon" 
                ng-class="{'glyphicon-chevron-down': filter.open, 'glyphicon-chevron-right': !filter.open}">
              </span>
            </div>
          </accordion-heading>
          <div class="row">
            <div class="options" ng-show="filter.type === 'products'">
              <input type="checkbox" ng-init="stationary=false" ng-model="stationary"><!--
              --><span class="caption" ng-click="stationary = !stationary">{{i18n.stationary}}</span>          
              <input class="second" type="checkbox" ng-init="online=false" ng-model="online"><!--
              --><span class="caption" ng-click="online = !online"> {{i18n.online}}</span>
            </div>
            <div ng-repeat="address in addresses[filter.id] | shopFilter:{online: online, stationary: stationary} | orderBy:'title'">
              <div class="{{$last && $even ? 'col-md-12' : 'col-md-6'}}">
                <a href ng-click="address.showOnMap()" class="action action-link" tooltip-placement="right" 
                    tooltip="{{i18n.showOnMap}}">
                  <span class="glyphicon glyphicon-hand-up show-on-map"></span>
                </a>
                <div class="address-box" ng-bind-html="address.boxText"></div>
              </div>
              <div ng-if="$odd" class="clearfix"></div>
            </div>
          </div>
        </accordion-group>
      </div>
    </accordion>
  </div>
  <div class="row news-section">
    <a class="anchor" id="newsAnchor"></a>
    <h4 class="section-title caption anchor" id="news">{{i18n.bNews}}</h4>
    <span class="loading" ng-show="feedsLoading">{{i18n.loading}}</span>
    <div ng-repeat="type in ['fixed', 'statFb', 'map']">
      <div class="row col-xs-12 news {{type}}" ng-repeat="feed in feeds | filter:{type: type} | orderBy:'-time'">
        <p class="content">
          <b>[{{feed.time | date: 'dd/MM'}}</b>,
          <span ng-if="feed.fbHref">
            <span ng-if="feed.type === 'statFb'" class="glyphicon glyphicon-star fixed-by"></span>
            <a ng-href="{{feed.fbHref}}" target="_blank">
              <img class="fb-icon" width="12" height="12" src="images/facebook.png"><span class="feed-by">{{feed.by}}</span><!--
         --></a>
            <a ng-if="feed.type === 'map'" href ng-click="places[feed.placeId].showOnMap()" class="action action-link" tooltip-placement="right" 
                tooltip="{{i18n.showOnMap}}">
              <span class="glyphicon glyphicon-hand-up show-on-map"></span><!--
         --></a><!--
       --></span><!--
       --><span ng-if="feed.type === 'fixed'">
            <span class="glyphicon glyphicon-star fixed-by"></span>{{feed.by}}<!--
       --></span>]:
        </p>
        <p class="content" ng-repeat="post in feed.posts">
          <span ng-bind-html="((feed.posts.length > 1 ? '[' + (post.created | date:'HH:mm') + '] ' + post.message : post.message) | characters:500) + ' ' + post.link | linky:'_blank'">
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="footer">
      <div id="like" class="fb-like" data-href="http://www.vegewro.pl" data-width="1px" data-layout="button" data-action="recommend" data-show-faces="true" data-share="false"></div>
      <p class="contact">♥ {{i18n.from}} DaDa Soft Lab &copy; | {{i18n.contact}}: <a href="vegewro@gmail.com">vegewro@gmail.com</a></p>
    </div>
  </div>
</div>