<div class="navbar navbar-default navbar-inverse navbar-specific" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand action" href ng-click="reload()"><img src="images/logo.png" width="57" height="50"/>
        <span class="brand-name">rocław <span class="green">vege</span> map</span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="action-mobile">
          <a class="action" href ng-click="scrollTo('mapAnchor')">
            <span class="glyphicon glyphicon-globe"></span><span class="action-map">{{i18n.map}}</span>
          </a>
        </li>
        <li class="action-mobile">
          <a class="action" href ng-click="scrollTo('filtersAnchor')">
            <span class="glyphicon glyphicon-filter"></span><span class="action-filters">{{i18n.mapFilters}}</span>
          </a>
        </li>
        <li>
          <a class="action" href ng-click="scrollTo('addressesAnchor')">
            <span class="glyphicon glyphicon-folder-open"></span><span class="action-addresses">{{i18n.addresses}}</span>
          </a>
        </li>
        <li>
          <a class="action" href ng-click="scrollTo('newsAnchor')">
            <span class="glyphicon glyphicon-info-sign"></span><span class="action-news">{{i18n.news}}</span>
          </a>
        </li>        
        <li>
          <a class="action" href data-toggle="collapse" data-target="#contactUs">
            <span class="glyphicon glyphicon-bullhorn"></span><span class="action-contactUs">{{i18n.newPlace}}</span>
          </a>
        </li>
        <li class="dropdown">
          <a href class="action dropdown-toggle" data-toggle="dropdown">| {{lang}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="action" href ng-click="changeLang('en')">en</a></li>
            <li><a class="action" href ng-click="changeLang('pl')">pl</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
    <div id="contactUs" class="row well well-lg contactUs collapse">
      <div class="left col-md-9">
        {{i18n.newPlaceText}}:
        <a href="mailto:vegewro@gmail.com">vegewro@gmail.com</a>
      </div>
      <div class="right col-md-3">
        <button class="btn btn-success pull-right" data-toggle="collapse" data-target="#contactUs">{{i18n.close}}</button>
      </div>
    </div>
  </div><!-- /.container -->
</div><!-- /.navbar -->

<div class="container">   
  <div class="row">
    <a class="anchor" id="mapAnchor"></a>
    <div id="map" class="col-md-9">
      <progressbar class="progress-striped active" value="'80'" type="success">
        {{i18n.loadingMap}}
      </progressbar>
    </div>
    <a class="anchor" id="filtersAnchor"></a>
    <div class="col-md-3 filters">
      <p>
        <span class="caption anchor" id="filters">{{i18n.filters}} (</span><!--
     --><a href ng-click="enableAllFilters(false)" class="action filter-helper action-link">{{i18n.clearAll}}</a>, 
        <a href ng-click="enableAllFilters(true)" class="action filter-helper action-link">{{i18n.setAll}}</a><!--
     --><span class="caption">):</span>
      </p>
      <p class="sub-filter">
        <a href ng-click="enableFilters('vegan')" class="action action-link filter-helper">{{i18n.veganOnly}}:</a>
      </p>
      <p ng-repeat="filter in filters | filter:{type: 'vegan'} | orderBy:'order'">
        <a href class="legend-item action action-link" ng-class="{active: filter.enabled}" 
            ng-click="filter.enabled = !filter.enabled; filter.toggle()">
          <img ng-src="{{filter.iconUrl}}"/>
          {{filter.title}}
        </a>
      </p>
      <p class="sub-filter">
        <a href ng-click="enableFilters('vege')" class="action action-link filter-helper">{{i18n.vege}}:</a>
      </p>
      <p ng-repeat="filter in filters | filter:{type: 'vege'} | orderBy:'order'">
        <a href class="legend-item action action-link" ng-class="{active: filter.enabled}" 
            ng-click="filter.enabled = !filter.enabled; filter.toggle()">
          <img ng-src="{{filter.iconUrl}}"/>
          {{filter.title}}
        </a>
      </p> 
      <p class="sub-filter">
        <a href ng-click="enableFilters('products')" class="action action-link filter-helper">{{i18n.products}}
          (<span tooltip-placement="bottom" tooltip="{{i18n.storesWarning}}">*</span>):
        </a>
      </p>
      <p ng-repeat="filter in filters | filter:{type: 'products'} | orderBy:'order'">
        <a href class="legend-item action action-link" ng-class="{active: filter.enabled}" 
            ng-click="filter.enabled = !filter.enabled; filter.toggle()">
          <img ng-src="{{filter.iconUrl}}"/>
          {{filter.title}}
        </a>
      </p>            
    </div>
  </div>
  <div class="row addresses-section">
    <a class="anchor" id="addressesAnchor"></a>
    <h4 class="section-title caption anchor" id="addresses">{{i18n.bAddresses}}</h4>
    <accordion close-others="'true'">
      <accordion-group ng-repeat="filter in filters | orderBy:'order'" is-open="filter.open">
        <accordion-heading>
          <div>
            {{filter.title}} <span class="badge">{{addresses[filter.id].length}}</span>
            <span class="pull-right glyphicon" 
              ng-class="{'glyphicon-chevron-down': filter.open, 'glyphicon-chevron-right': !filter.open}">
            </span>
          </div>
        </accordion-heading>
        <div class="row">
          <div ng-repeat="address in addresses[filter.id] | orderBy:'title'">
            <div class="{{$last && $even ? 'col-md-12' : 'col-md-6'}}">
              <a href ng-click="address.showOnMap()" class="action action-link" tooltip-placement="right" 
                  tooltip="{{i18n.showOnMap}}">
                <span class="glyphicon glyphicon-hand-up show-on-map"></span>
              </a>
              <div class="address-box" ng-bind-html="address.boxText"></div>
            </div>
            <div ng-if="$odd" class="clearfix"></div>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
  <div class="row news-section">
    <a class="anchor" id="newsAnchor"></a>
    <h4 class="section-title caption anchor" id="news">{{i18n.bNews}}</h4>
    <span class="loading" ng-show="feedsLoading">{{i18n.loading}}</span>
    <div class="row col-xs-12 news" ng-repeat="feed in feeds | orderBy:'time':true">
      <p class="content">
        <b>[{{feed.time | date: 'dd/MM'}}</b>,
        <span ng-if="feed.fbHref">
          <a ng-href="{{feed.fbHref}}" target="_blank">
            <img class="fb-icon" width="12" height="12" src="images/facebook.png"><span class="feed-by">{{feed.by}}</span><!--
       --></a>
          <a href ng-click="places[feed.placeId].showOnMap()" class="action action-link" tooltip-placement="right" 
              tooltip="{{i18n.showOnMap}}">
            <span class="glyphicon glyphicon-hand-up show-on-map"></span><!--
       --></a><!--
     --></span><!--
     --><span ng-if="feed.fixed">
          {{feed.by}}<!--
     --></span>]:
      </p>
      <p class="content" ng-repeat="post in feed.posts">
        <span ng-bind-html="((feed.posts.length > 1 ? '[' + (post.created | date:'HH:mm') + '] ' + post.message : post.message) | characters:500) + ' ' + post.link | linky:'_blank'">
        </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="footer">
      <div id="like" class="fb-like" data-href="http://www.vegewro.pl" data-width="1px" data-layout="button" data-action="recommend" data-show-faces="true" data-share="false"></div>
      <p class="contact">♥ {{i18n.from}} DaDa Soft Lab &copy; | {{i18n.contact}}: <a href="vegewro@gmail.com">vegewro@gmail.com</a></p>
    </div>
  </div>
</div>